body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#screen1 {
    background: url('/lera-bd/images/birthday.jpeg') no-repeat center center fixed; 
    background-size: cover;
    background-attachment: scroll; 
    width: 100%;
    height: 100%;
}

.title {
    font-size: 4em;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
    text-align: center;
}

.cta-button {
    background: linear-gradient(to right, red, blue);
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

@media screen and (max-width: 600px) {
    .cta-button {
        padding: 15px 30px;
        font-size: 1.2em;
    }

    .title {
        font-size: 3em; 
    }
}

#screen2 {
    background: linear-gradient(203.77deg, #dcd7f7 10%, #edd7dd 60%, #fff7f9 100%);
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    flex-wrap: wrap;
}

.image-link {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px;
}

.image-link img {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

/* Hover effect for images */
.image-link-2 img:hover {
    content: url('/lera-bd/images/2-2.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link-3 img:hover {
    content: url('/lera-bd/images/3-3.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link-4 img:hover {
    content: url('/lera-bd/images/4-4.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link-5 img:hover {
    content: url('/lera-bd/images/5-5.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link-6 img:hover {
    content: url('/lera-bd/images/6-6.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link-7 img:hover {
    content: url('/lera-bd/images/7-7.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link-8 img:hover {
    content: url('/lera-bd/images/8-8.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link-9 img:hover {
    content: url('/lera-bd/images/9-9.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link-10 img:hover {
    content: url('/lera-bd/images/10-10.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link-11 img:hover {
    content: url('/lera-bd/images/11-11.jpeg'); /* Unique hover image for the first image */
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.2em;
    text-transform: uppercase;
}

.image-link span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}

@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .image-link {
        margin-bottom: 20px;
    }
}
