@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');

@font-face {
    font-family: Picnic;
    src: url(/fonts/PicNic-Regular.woff2);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Unbounded', sans-serif;
    font-size: 1.15em;
}

.screen {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#screen1 {
    background: url('/lera-bd/images/birthday.jpeg') no-repeat center center fixed; 
    background-size: cover;
}

.title {
    font-size: 7em;
    color: #fff;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2,
               -16px 16px #2196f3,
               -20px 20px #26c6da,
               -24px 24px #43a047,
               -28px 28px #eeff41,
               -32px 32px #f9a825,
               -36px 36px #ff5722;
    text-align: center;
    font-family: Picnic;
}

.cta-button {
    background: linear-gradient(to right, red, blue);
    color: white;
    padding: 20px 30px;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
    animation: float 2s ease-in-out infinite;
    font-size: 1.5em;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

#screen2 {
    background: linear-gradient(203.77deg, #dcd7f7 10%, #edd7dd 60%, #fff7f9 100%);
}

.row {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.image-link-2 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-3 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-4 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-5 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-6 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-7 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-8 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-9 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-10 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-11 {
    display: block;
    text-align: center;
    text-decoration: none;
    color: black;
}

.image-link-2 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-3 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-4 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-5 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-6 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-7 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-8 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-9 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-10 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-11 img {
    width: 190px;
    margin: 20px; /* Adjust size as needed */
    height: auto;
}

.image-link-2 img:hover {
    content: url('/lera-bd/images/2-2.jpeg'); /* Unique hover image for the first image */
}

.image-link-3 img:hover {
    content: url('/lera-bd/images/3-3.jpeg'); /* Unique hover image for the first image */
}

.image-link-4 img:hover {
    content: url('/lera-bd/images/4-4.jpeg'); /* Unique hover image for the first image */
}

.image-link-5 img:hover {
    content: url('/lera-bd/images/5-5.jpeg'); /* Unique hover image for the first image */
}

.image-link-6 img:hover {
    content: url('/lera-bd/images/6-6.jpeg'); /* Unique hover image for the first image */
}

.image-link-7 img:hover {
    content: url('/lera-bd/images/7-7.jpeg'); /* Unique hover image for the first image */
}

.image-link-8 img:hover {
    content: url('/lera-bd/images/8-8.jpeg'); /* Unique hover image for the first image */
}

.image-link-9 img:hover {
    content: url('/lera-bd/images/9-9.jpeg'); /* Unique hover image for the first image */
}

.image-link-10 img:hover {
    content: url('/lera-bd/images/10-10.jpeg'); /* Unique hover image for the first image */
}

.image-link-11 img:hover {
    content: url('/lera-bd/images/11-11.jpeg'); /* Unique hover image for the first image */
}


.image-link-2 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link-3 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link-4 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link-5 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link-6 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link-7 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link-8 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link-9 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link-10 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}

.image-link-11 span {
    display: block;
    text-decoration: none;
    color: black;
    transition: all 0.3s ease;
}


.image-link-2:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}

.image-link-3:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}

.image-link-4:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}

.image-link-5:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}

.image-link-6:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}

.image-link-7:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}

.image-link-8:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}

.image-link-9:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}

.image-link-10:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}

.image-link-11:hover span {
    text-decoration: underline;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
}


@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .image-link-2 {
        margin-bottom: 10px;
    }

    .image-link-3 {
        margin-bottom: 10px;
    }

    .image-link-4 {
        margin-bottom: 10px;
    }

    .image-link-5 {
        margin-bottom: 10px;
    }

    .image-link-6 {
        margin-bottom: 10px;
    }

    .image-link-7 {
        margin-bottom: 10px;
    }

    .image-link-8 {
        margin-bottom: 10px;
    }

    .image-link-9 {
        margin-bottom: 10px;
    }

    .image-link-10 {
        margin-bottom: 10px;
    }

    .image-link-11 {
        margin-bottom: 10px;
    }
}