@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');

@font-face {
    font-family: PicNic;
    src: url(/fonts/PicNic-Regular.woff2);
}

/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

.parallax-container {
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    position: relative;
}

.parallax-background {
    background-image: url('/birth/images/birthday.jpeg'); /* Replace with your image path */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.content {
    position: relative;
    z-index: 10;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes waveAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(20px);
    }
}

.title {
    font-family: 'PicNic', sans-serif;
    display: inline-block;
    font-size: 7.5em;
    color: #fff;
    text-shadow: -2px 2px #ef3550,
               -4px 4px #f48fb1,
               -6px 6px #7e57c2,
               -8px 8px #2196f3,
               -10px 10px #26c6da,
               -12px 12px #43a047,
               -14px 14px #eeff41,
               -16px 16px #f9a825,
               -18px 18px #ff5722;
    animation: waveAnimation 3s ease-in-out infinite;
}

.title span {
    display: inline-block;
    animation: waveAnimation 3s ease-in-out infinite;
}

.title span:nth-child(odd) {
    animation-delay: 0.1s;
}

.title span:nth-child(even) {
    animation-delay: 0.2s;
}

.scroll-button {
    font-family: 'Unbounded', sans-serif;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
}

.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(203.77deg, #dcd7f7 10%, #edd7dd 60%, #fff7f9 100%);
}

.screen-title {
    font-family: 'Unbounded', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sub-title {
    font-family: 'Unbounded', sans-serif;
    font-size: 1em;
    text-transform: uppercase;
    color: rgb(64, 217, 222);
    text-shadow: -2px 2px #03b473,
               8px -8px #5c1d9c;
}

.picture-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cta-button {
    font-family: 'Unbounded', sans-serif;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(203.77deg, #2e17ab 10%, #ff02e1 60%, #ff9500 100%);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.picture {
    width: 190px;
    height: 190px;
    background-size: cover;
    background-position: center;
    margin: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px; /* Optional: for rounded corners */
    font-family: 'Unbounded', sans-serif;
}

.picture::after {
    content: attr(data-name);
    display: none;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}

.picture:hover::after {
    display: block;
}

/* Responsive Design */
@media (max-width: 768px) {
    .parallax-background {
        background-attachment: scroll; /* Disable parallax for mobile */
        background-image: url('/birth/images/birthday-tablet.jpeg'); /* Tablet image */
    }
    .picture {
        width: 80px;
        height: 80px;
    }
}

@media (max-width: 480px) {
    .parallax-background {
        background-image: url('/birth/images/birthday-mobile.jpeg'); /* Mobile image */
    }
    .title {
        font-size: 3.5em;
        display: inline-block;
    }
    .screen-title {
        font-size: 1.5em;
    }
    .picture {
        width: 60px;
        height: 60px;
    }
}
