@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@400&display=swap');

@font-face {
    font-family: PicNic;
    src: url(/fonts/PicNic-Regular.woff2);
}

/* Base Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

body, a, button {
    /* Apply the custom cursor to the entire body and interactive elements like links and buttons */
    cursor: url('/birth/images/cursor.cur'), auto;
}

.parallax-container {
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    position: relative;
}

.parallax-background {
    background-image: url('/birth/images/birthday.jpeg'); /* Replace with your image path */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.content {
    position: relative;
    z-index: 10;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

@keyframes waveAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    25% {
        transform: translateY(-20px);
    }
    50% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(20px);
    }
}

.title {
    font-family: 'PicNic', sans-serif;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 7.5em;
    color: #fff;
    text-shadow: -2px 2px #ef3550,
               -4px 4px #f48fb1,
               -6px 6px #7e57c2,
               -8px 8px #2196f3,
               -10px 10px #26c6da,
               -12px 12px #43a047,
               -14px 14px #eeff41,
               -16px 16px #f9a825,
               -18px 18px #ff5722;
    animation: waveAnimation 3s ease-in-out infinite;
}

.title span {
    display: inline-block;
    animation: waveAnimation 3s ease-in-out infinite;
}

.title span:nth-child(odd) {
    animation-delay: 0.1s;
}

.title span:nth-child(even) {
    animation-delay: 0.2s;
}

.scroll-button {
    font-family: 'Unbounded', sans-serif;
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(to right, violet, indigo, blue, green, yellow, orange, red);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
}

.screen {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    background: linear-gradient(203.77deg, #dcd7f7 10%, #edd7dd 60%, #fff7f9 100%);
}

.screen-title {
    font-family: 'Unbounded', sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: -4px 4px #ef3550,
               -8px 8px #f48fb1,
               -12px 12px #7e57c2;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.sub-title {
    font-family: 'Unbounded', sans-serif;
    font-size: 1.2em;
    text-transform: uppercase;
    color: rgb(64, 217, 222);
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
    text-shadow: -2px 2px #03b473,
               2px -2px #5c1d9c;
}

.picture-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.cta-button {
    font-family: 'Unbounded', sans-serif;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(203.77deg, #2e17ab 10%, #ff02e1 60%, #ff9500 100%);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
}

.arrow {
    display: inline-block;
    margin-left: 10px;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-20px); }
}

.picture {
    width: 190px;
    height: 190px;
    background-size: cover;
    background-position: center;
    margin: 12px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 15px; /* Optional: for rounded corners */
    font-family: 'Unbounded', sans-serif;
    box-shadow: -2px 2px #ef3550,
               -4px 4px #f48fb1,
               -6px 6px #7e57c2,
               -8px 8px #2196f3,
               -10px 10px #26c6da,
               -12px 12px #43a047,
               -14px 14px #eeff41,
               -16px 16px #f9a825,
               -18px 18px #ff5722;
}

.picture::after {
    content: attr(data-name);
    display: none;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    padding: 10px;
    color: #ffffff;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px;
    text-decoration: underline;
}

.picture:hover::after {
    display: block;
}

.screen3 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
}

.content3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.text-section {
    flex-basis: 50%;
    font-family: 'Unbounded', sans-serif;
    font-weight: 400;
}

.image-section {
    flex-basis: 50%;
}

.image-section img {
    width: 450px;
    height: auto;
    border-radius: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: #ef3550;
}

.screen3-title {
    background: linear-gradient(45deg, #fabea7, #fdd9a5, #c0ebc7, #a9def9);
    display: inline-block;
    padding: 5px 10px;
    font-family: 'Unbounded', sans-serif;
}

.next-button {
    font-family: 'Unbounded', sans-serif;
    margin-top: 20px;
    padding: 10px 20px;
    background-image: linear-gradient(to left, #dcd7f7 10%, #edd7dd 60%, #fff7f9);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
    border-style: solid;
    border-width: 2px;
    border-color: #ef5350;
}

.present-button {
    font-family: 'Unbounded', sans-serif;
    margin-top: 20px;
    padding: 20px 40px;
    background: linear-gradient(203.77deg, #05be4f 10%, #ff02e1 60%, #0c1f9a 100%);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    animation: float 2s ease-in-out infinite;
    border-style: solid;
    border-width: 1.5px;
    border-color: #251a1a;
}

/* For Webkit browsers like Chrome, Safari */
::-webkit-scrollbar {
    width: 16px;
}

::-webkit-scrollbar-track {
    background: #d11414; /* Light gray track */
}

::-webkit-scrollbar-thumb {
    background: #3214cb; /* Dark gray thumb */
    border: 4px solid #30b71e; /* Light gray border */
    border-radius: 0; /* Square corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #e20f0f; /* Darker gray on hover */
}

/* For Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: #db2828 #000000; /* Thumb and track color */
}

/* For Internet Explorer and Edge */
body {
    scrollbar-face-color: #ff28bb;
    scrollbar-track-color: #c0c0c0;
    scrollbar-arrow-color: #0d00ff;
    scrollbar-shadow-color: #c0c0c0;
    scrollbar-highlight-color: #00ff95;
    scrollbar-3dlight-color: #c23333;
    scrollbar-darkshadow-color: #65c933;
}

@keyframes animatedImageShadow {
    0% { box-shadow: 0px 0px 40px red; }
    14% { box-shadow: 0px 0px 40px orange; }
    28% { box-shadow: 0px 0px 40px yellow; }
    42% { box-shadow: 0px 0px 40px green; }
    57% { box-shadow: 0px 0px 40px blue; }
    71% { box-shadow: 0px 0px 40px indigo; }
    85% { box-shadow: 0px 0px 40px violet; }
    100% { box-shadow: 0px 0px 40px red; }
}

.animated-shadow {
    animation: animatedImageShadow 3s linear infinite;
}

.sticky-button {
    display: none; /* Hidden by default */
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    background: linear-gradient(203.77deg, #2e17ab 10%, #ff02e1 60%, #ff9500 100%);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    z-index: 1000; /* Ensure it's above other elements */
    transition: opacity 0.5s; /* For fade-in and fade-out */
    font-family: 'Unbounded', sans-serif;
}


.multi-screen-container {
    background: linear-gradient(to bottom,
    #ff00ff, #fffd00, #00ff00, #00ffff,
    #ff9a9e, #fad0c4, #fad0c4,
    #ff6ec4, #7873f5, #fffc00, #ff00ab,
    #32ccbc, #90f7ec, #fff6f6, #f6b0c4,
    #0ff0b3, #036ed9, #fbab7e, #f7ce68,
    #43e97b, #38f9d7, #30cfd0, #330867,  
    #ff9a9e, #135bc0, #fad0c4,
    #6a11cb, #2575fc, #12c2e9, #c471ed,
    #f6d365, #fda085, #fbc2eb, #a6c1ee,
    #e94057, #8a2387, #e94057, #f27121
    );
    background-size: 100% 1000%;
    background-attachment: fixed;
}

@keyframes pulseBackground {
    0% { background-color: #ff0080; }
    25% { background-color: #33ff00; }
    50% { background-color: #d9ff00; }
    75% { background-color: #0080ff; }
    100% { background-color: #00ffff; }
}

#screen16 {
    animation: pulseBackground 3s linear infinite;
    position: relative;
    height: 100vh;
}

@keyframes firework {
    from { transform: scale(0.2); opacity: 1; }
    to { transform: scale(1); opacity: 0; }
}

.firework-particle {
    position: absolute;
    bottom: 10px;
    border-radius: 50%;
    background-color: white;
    animation: firework 1s ease-out;
}

.screen16-title {
    font-family: 'PicNic', sans-serif;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 9.5em;
    color: #fff;
    text-shadow: -2px 2px #ef3550,
               -4px 4px #f48fb1,
               -6px 6px #7e57c2,
               -8px 8px #2196f3,
               -10px 10px #26c6da,
               -12px 12px #43a047,
               -14px 14px #eeff41,
               -16px 16px #f9a825,
               -18px 18px #ff5722;
    animation: waveAnimation 3s ease-in-out infinite;
}

.screen16-subtitle {
    font-family: 'Unbounded', sans-serif;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 3em;
    color: #000000;
    text-shadow: -2px 2px #ef3550,
               -4px 4px #f48fb1,
               -6px 6px #7e57c2,
               -8px 8px #2196f3;
}

.crazy-button {
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00ab);
    color: white;
    border: none;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    animation: pulseBackground 3s linear infinite;
    animation: float 2s ease-in-out infinite;
    font-family: 'Unbounded', sans-serif;
}

/* Responsive Design */
@media (max-width: 768px) {
    .parallax-background {
        background-attachment: scroll; /* Disable parallax for mobile */
        background-image: url('/birth/images/birthday-tablet.jpeg'); /* Tablet image */
    }
    .picture {
        width: 80px;
        height: 80px;
    }

    .content {
        flex-direction: column-reverse;
    }
    .text-section, .image-section {
        flex-basis: 100%;
    }

    .text-section {
        font-size: 1em;
    }

    .image-section img {
        flex-basis: 100%;
        width: 200px;
        height: auto;
    }

    .sticky-button {
        bottom: 15px;
        right: 15px;
        padding: 8px 12px;
    }
}


@media (max-width: 480px) {
    .parallax-background {
        background-image: url('/birth/images/birthday-mobile.jpeg'); /* Mobile image */
    }

    .title {
        font-size: 3.5em;
        display: inline-block;
        padding-left: 18px;
    }

    .screen16-title {
        font-size: 3.5em;
        display: inline-block;
        padding-left: 18px;
    }

    .screen16-subtitle {
        font-size: 1.5em;
    }

    .screen-title {
        font-size: 1.5em;
    }

    .picture {
        width: 60px;
        height: 60px;
    }

    .screen3-title {
        font-size: 2em;
    }

    .image-section img {
        width: 120px; /* Adjusted from 120px for better mobile layout */
        height: auto;
        max-width: 100%; /* Ensure image scales within the container */
    }

    .text-section {
        font-size: 0.6em;
    }

    /* New styles for content3 layout */
    .content3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .image-section {
        order: 1; /* Picture first */
        width: 100%; /* Ensure full width */
    }

    .screen3-title {
        order: 2; /* Then title */
        text-align: center;
    }

    .text-section {
        order: 3; /* Text after title */
        text-align: center;
    }

    .next-button {
        order: 4; /* Button last */
    }
    .present-button {
        order: 5; /* Button last */
    }
    .crazy-button {
        order: 6; /* Button last */
    }
}

